body{
  margin: 0;
  padding: 0;
}
head{
  margin: 0;
  padding: 0;
}
#header{
  position: absolute;

  padding-left:71%;
}

#header p{
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 900;
  letter-spacing:-6px;
  font-size:50px ;
  margin-right:70px;
}

#wrapper{
  position: absolute;
  top:80px;
  padding-left:10%;
}

#wrapper button{
  font-family:Gadugi;
  margin:10px;
  padding:10px;
  width:180px;
  height:66px;
  font-size:22px;
  border: solid #7f7f7f;
  background-color: #f8f8f8;
  border-radius:35px;

  letter-spacing:1px;
  outline: none;
}

hr{
  width: 78.6%;
  margin-left: auto;
  margin-right: auto;

}

#bodi{
  width:100%;
  padding-top:190px;
}

#qq{
  text-align: center;
}

#qq input{
  outline: none;
  margin-top: 20px;
  width: 480px;
  height: 67px;
  border: 3px solid lightgray;
  border-radius: 30px;
  font-family: sans-serif;
  font-size: 25px;
}

#qq button{
  outline: none;
  margin-top: 20px;
  width:180px;
  height:60px;
  border: 3px solid lightgray;
  border-radius:30px;
  font-family: Gadugi;
  font-size: 18px;
  letter-spacing: 2px;
  background-color: white;
}

#qq h1{
  font-family: Gadugi;
  font-size: 50px;
}
#qq p{
  font-family: "DejaVu Sans";
  font-variant: small-caps;
  font-size:23px;
  letter-spacing:2px;
}
#qq hr{
  width: 40%;
}
#User{
  position: absolute;
  bottom: 2%;
  left: 2%;
}
