.Chat_Box{
  height: 500px;
  width: 604px;
  margin-left: 35%;
  border: 1px solid black;
  background-color: white;
}
.string{
  width: 604px;
}
input{
  width: 550px;
}
button{
  width: 50px;
}
#bott{
  position: absolute;
  bottom: 0;
}
